body {
    margin-left: 50px;
    margin-right: 50px;
}
.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
}
.header .Headerlogo {
    font-size: 24px;
    font-weight: bolder;
    flex-grow: 4;
}